/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-heading;
	font-weight: 400;
	color: $blue;
	text-transform: capitalize;
}
h1 { font-size: 42px; line-height: 40px; }
h2 { font-size: 38px; line-height: 36px; }
h3 { font-size: 30px; line-height: 32px; }
h4 { font-size: 26px; line-height: 28px; }
h5 { font-size: 20px; line-height: 24px; }
h6 { font-size: 16px; line-height: 20px; }
p {
	font-size: 16px;
	color: #242121;
}
/* google fonts */
/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: local('Oswald Light'), local('Oswald-Light'), url(https://fonts.gstatic.com/s/oswald/v10/l1cOQ90roY9yC7voEhngDIX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: local('Oswald Light'), local('Oswald-Light'), url(https://fonts.gstatic.com/s/oswald/v10/HqHm7BVC_nzzTui2lzQTDZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(https://fonts.gstatic.com/s/oswald/v10/Qw6_9HvXRQGg5mMbFR3Phn-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(https://fonts.gstatic.com/s/oswald/v10/_P8jt3Y65hJ9c4AzRE0V1OvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: local('Oswald Bold'), local('Oswald-Bold'), url(https://fonts.gstatic.com/s/oswald/v10/dI-qzxlKVQA6TUC5RKSb34X0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: local('Oswald Bold'), local('Oswald-Bold'), url(https://fonts.gstatic.com/s/oswald/v10/bH7276GfdCjMjApa_dkG6ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/*--------------------------------------------------------------
Elements
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: $black;
	font-weight: 300;
	font-family: $font-body;
	font-size: 15px;
	line-height: 1.8;
}
textarea { height: 200px; }

/*--------------------------------------------------------------
Buttons, Inputs, Forms
--------------------------------------------------------------*/
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
	line-height: 38px;
    font-size: 1em;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: none;
	border-color: transparent;
	border-radius: 0;
	background: $blue;
	box-shadow: none;
	color: white;
	cursor: pointer;
	margin: 20px 0px;
	float: right;
	width: 260px;
	-webkit-appearance: button; 
	font-size: 1.2em;
	line-height: 1;
	font-weight: inherit;
	font-family: $font-heading;
	padding: 1em;
	text-shadow: none;
	text-transform: uppercase;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
	
	&:hover, &:focus, &:active {
		color: darken(white,20%);
		background: darken($blue,20%);
	}
	
}

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="number"], input[type="search"], textarea {
	background: #f4f4f4;
	width: 100%;
	&:focus {
		background: white;
		border-color: darken($gray,20%);
	}
}
input[type="checkbox"],
input[type="radio"] {
	padding: 0; 
}
input[type="search"] {
	-webkit-appearance: textfield; 
	-webkit-box-sizing: content-box; 
	-moz-box-sizing:    content-box;
	box-sizing:         content-box;
}
input[type="search"]::-webkit-search-decoration { 
	-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { 
	border: 0;
	padding: 0;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="number"],
input[type="search"],
textarea {
	width: 100%;
	color: #666;
	border: 1px solid #ccc;
	border-radius: 0;
	
	&:focus {
		color: $black;
	}
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	width: 100%;
	padding: 3px;
}
//contact & donate forms
.contact,
.donate {
	input[type="submit"] {
		width: 100%;
		margin-top: 5px;
	}
	
	p {
		margin: 2px 0;
	}
}

.wpcf7-submit {
	input[type="submit"] {
		width: 100%;
		margin-top: 5px;
	}
}


textarea {
	width: 100%;
	overflow: auto; 
	padding-left: 3px;
	vertical-align: top; 
}

/* buttons */
.button {
	position: relative;
    z-index: 9999999;
    display: inline-block;
    margin: 20px 0;
    width: 220px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-family: $font-heading;
    font-size: 1.1em;
    font-weight: normal;
    font-style: normal;
    color: white;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
}
/*primary, blue bg, white text, no border*/
.button.primary,
.button.blue {
	background: $blue;
	color: white;
	border: none;
	&:hover {
		background: darken($blue,7%);
		color: darken(white,7%);
		border: none;
		text-decoration: none;
	}
}
/*green, darkgreen bg, white text, no border*/
.button.green {
	background: $darkgreen;
	color: white;
	border: none;
	&:hover {
		background: darken($darkgreen,7%);
		color: darken(white,7%);
		border: none;
		text-decoration: none;
	}
}
/*lightgreen, lightgreen bg, blue text, no border*/
.button.lightgreen {
	background: $lightgreen;
	color: $blue;
	border: none;
	&:hover {
		background: darken($lightgreen,7%);
		color: darken($blue,7%);
		border: none;
		text-decoration: none;
	}
}
/*transparent, transparent bg, blue text, blue border*/
.button.transparent {
	background: transparent;
	color: $blue;
	border: 2px solid $blue;
	&:hover {
		color: darken($blue,7%);
		border: 2px solid darken($blue,7%);
		text-decoration: none;
	}
}
/*white, white bg, blue text, no border*/
.button.white {
	background: white;
	color: $blue;
	border: none;
	&:hover {
		background: darken($blue,7%);
		color: darken($blue,7%);
		text-decoration: none;
	}
}

.button.full {
	margin: 15px 0;
	
	&:first-of-type {
		margin-top: 0;
	}
}

/*--------------------------------------------------------------
Header & Navigation
--------------------------------------------------------------*/
.site-header {
	position: absolute;
	top: 50px;
	width: 100%;
	padding: 0 20px;
	z-index: 9;
	
	.site-branding {
		float: left;
		width: auto;
		max-width: 230px;
		
		.site-logo {
			width: 250px;
			height: auto;
		}
	}
	
}
.head-overflow-contain {
	overflow: visible;
	max-width: 95%;
}
.head-overflow {
	overflow: visible;
}
/*--------------------------------------------------------------
Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	font-family: $font-heading;
	
	ul {
		list-style: none;
		margin-top: 20px;
		padding-left: 0;
	}
	
	li {
		float: left;
		position: relative;
		
		a {
			display: block;
			text-decoration: none;
			padding: 5px 20px;
			color: $darkgreen;
			font-weight: 400;
			font-size: 1.1em;
			transition: all 0.3s ease-in-out;
			-moz-transition: all 0.3s ease-in-out;
			-webkit-transition: all 0.3s ease-in-out;
			-ms-transition: all 0.3s ease-in-out;
			&:hover {
				color: $blue;
			}
	
		}
		
		
		&:last-child { //volunteer link
			border: 2px solid white;
			text-transform: uppercase;
			transition: all 0.3s ease-in-out;
			-moz-transition: all 0.3s ease-in-out;
			-webkit-transition: all 0.3s ease-in-out;
			-ms-transition: all 0.3s ease-in-out;	
			&:hover {
				border: 2px solid $blue;
			}
		}
		
	}
	
	
}
.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	border: 1px solid #dadada;
	background: white;
	color: #8c9398;
	float: right;
	position: absolute;
	top: 3.5em;
	right: -999em;
	z-index: 99999;
	
	a {
		width: 200px;
		color: #8c9398;
		font-weight: 600;
		padding: 8px 12px;
		font-size: 13px;
		text-align: center;
		border-bottom: 1px solid #dadada;
		-webkit-transition: 0.3s ease-in-out;
		-moz-transition: 0.3s ease-in-out;
		-o-transition: 0.3s ease-in-out;
		transition: 0.3s ease-in-out;
		&:hover {
			background: #f1f1f1;
		}	
	}
	
	
	ul {
		right: -999em;
		top: 0;
	}
}

.main-navigation ul li:hover > ul {
	right: 50%;
	margin-right: -30%;
}
.main-navigation ul ul li:hover > ul {
	right: 100%;
}


/* Small menu */
.menu-toggle {
	display: none;
}

/* offcanvas slideout mobile menu */
@import "offcanvas-menu";


.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}
.nav-links a {
	color: white;
}


/*--------------------------------------------------------------
Content
--------------------------------------------------------------*/

/* color classes */
.bg-blue {background: $blue;color: white; }
.blue {color: $blue; }
.bg-lightgreen {background: $lightgreen;color: white; }
.lightgreen {color: $lightgreen; }
.bg-darkgreen {background: $darkgreen;color: white; }
.darkgreen {color: $darkgreen; }
.bg-white { background: white; }
.white {color: white; }
.bg-black { background: $black; }
.black { color: $black; }
.bg-gray { background: $gray; }
.gray { color: $gray; }


/* layout positioning */
#container {
    display: table;
    position: relative;
    height: 100%;
    min-height: 500px;
    max-width: 100%;
    /*max-width: 80% */ //to add contain
    margin: 0 auto;
    text-align: center;
}
.full {
	position: relative;
	max-width: 100%;
	width: 100%;
	margin: 0;
}
.text-center {
	text-align: center;
}


/*--------------------------------------------------------------
Page Templates
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Homepage
--------------------------------------------------------------*/
.hero {
	position: relative;
	background-color: $lightgray;
	/* bg set inside of homepage via custom field and added as inline style for css control */
	//background: url('img/header-placeholder.png') center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height: 82vh;//not 100, since we want 2nd section to show a little;may help initiate scroll
    
    .img {
         position: absolute;
         width: 100%;
         height: 100%;   
	}
    
    /*&:before {
    	content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(to bottom right,$yellow,white);
		opacity: 0.6; //lesser opacity = lesser gradient overlay
		z-index: 2;
    }*/
    
    h2,
    p {
    	position: relative;
    	z-index: 3; //on top of img gradient
	    color: $blue;
	    text-transform: none;
    }
    
    h2 {
    	margin-top: 250px;
    	line-height: 1;
		font-family: $font-heading;
		color: $blue;
    }
    

  
}//.hero


.intro { //used inside all sections
	background: transparent;
    max-width: 88%;
	margin: 0 auto;
	padding: 40px 0;
	font-size: 1.2em;
	line-height: 1.5em;	
} 

//section.what-we-do
.what-we-do { 
	width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    background: url('img/florida_green.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
    .intro {
	    background: transparent;
		text-align: center;
	}
	
	.section-title {
		color: white;
	}
	
	h3 {
		padding: 20px 0 0;
		color: white;
		text-transform: uppercase;
	}
	
	img {
		width: 185px;
        height: auto;
	}
	
	p {
		color: white;
	}
	
	
}//.what-we-do


//section.news
.news { 
    background: white;
	width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: left;
    
    a {
	    &:hover,&:focus {
		    text-decoration: none;
	    }
    }
    
    .intro {
	    background: transparent;
	}
	
	.section-title {
		color: $blue;
		text-align: center;
	}
	
	.article {
		margin: 15px 0px 10px;
		border-bottom: 1px solid $lightgray;
		padding: 0px 0 25px!important;
		
		&:last-of-type {
			border-bottom: none;
		}
	}
	
	.news-title {
		color: $darkgreen;
	}
	
	.date {
		padding: 0;
		color: $blue;
		font-weight: 700;
	}
	
	.button {
		display: block;
		width: 100%;
		margin: 30px auto 30px;
	}
	
	img .thumbnail,
	.thumbnail {
		width: 150px;
        height: 150px;		
	}
	
	/* if no news thumb, default news icon will display */
	.default {
		background: $smoke;
		&:after {
			content: '\f1ea';
			font-family: 'fontAwesome';
			position: relative;
			font-size: 4em;
			color: $lightgray;	
			top: 65px;
			left: 35px;
		}
	}
		
}//.news

//section.quotes
.quotes { 
	width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    background: $smoke;
    
    .intro {
    	max-width: 100%; //make full
    	padding: 0;
		margin: 0;
	    background: transparent;
	    color: white;
	}
	.left-img {
		background: url('img/quote.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: -100px 0px;
		height: 560px;
	}
	
	p {
		color: $blue;
		padding: 5px 20px;
	
		&:first-of-type {
			margin-top: 40px;
		}
		
	}
	
	hr {
		max-width: 100%;
		margin: 20px 40px 20px 20px;
	}
	
	
}//.quotes


//section.help-you
.help-you { 
	width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    background: white;
    
    .intro {
	    background: transparent;
		text-align: left;
	}
	
	.section-title {
		color: $darkgreen;
		text-align: center;
	}
	
	p {
		padding-right: 5px;
		font-size: 1.1em;
		line-height: 1.6em;
	}
	
	
}//.help-you





// call to actions, call outs
.home-cta {
	padding: 30px 0 32px 0;
	background: $blue;
	color: white;
	text-align: center;
}
.footer-cta {
	padding: 30px 0 32px 0;
	background: $blue;
	color: white;
	text-align: center;

}
.home-cta,
.footer-cta {
	
	h1, h2, h3, h4, h5 {
		color: white;
	}
	
}



/*--------------------------------------------------------------
Interior
--------------------------------------------------------------*/
/* interior page header */
.entry-header {
	position: relative;
	background-color: $blue;
    width: 100%;
    height: 100%;
    min-height: 190px;
    &:after {
	    //above 768, add transform: scew after logo
	}
}

body:not(.page-template-page-home) {
	background: white;
	.main-navigation li:last-child {
		border-color: $darkgreen; 
		&:hover {
			border-color: $blue;	
		}
	}
	
}
/*body.single {
	.entry-content {
		p {
			padding: 10px 20px;
		}
	}
}*/
.entry-content {
	background: $smoke;
	margin-top: 0;
	padding: 60px 40px 40px;
	
	p {
		padding: 10px 0;
		color: $black;
	}

	.page-title {
		color: $darkgreen;
		padding-bottom: 30px;
		text-decoration: none;
		text-transform: none;
	}
	.news-title {
		color: $blue;
		text-decoration: none;
		text-transform: none;
		height: 20px;
	}
	
	.date,
	.descrip {
		padding: 0;
	}
	
}//.entry-content

a.view {
	color: $blue;
	font-size: 0.85em;
	font-weight: 400;
	text-decoration: none;
	i {
		color: $darkgreen;
		padding-left: 5px;
	}
	&:hover {
		text-decoration: none;
	}
}

.hentry {
	margin: 0;
}
#primary {padding: 0;}

/*--------------------------------------------------------------
Sidebar
--------------------------------------------------------------*/
/*sidebar*/
#secondary {
	color: $black;
}
.sidebar {

	.widget-title {
		padding: 10px 15px;
		background: $darkgreen;
		color: white;
		font-size: 1.25em;
		text-transform: uppercase;
	}
	
	select,input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"] {
    	margin: 10px 15px 0px 15px;
    	width: 90%;
    	color: $blue;
	}
	aside {
	li.cat-item,
	ul li {
	    a {
	    	display: block;
	        width: 100%;
	        padding: 1px 30px;
	        font-size: 1em;
	        text-align: left;
	        text-decoration: none;
		    color: $blue;
	    }
		&:hover {
			color: darken($blue,7%);
		}
		&:before {
			content: url('img/arrow.png') 0 0 no-repeat;
			position: absolute;
			margin-left: 15px;
		}
     }
  }	//.aside
  
}//.sidebar

.social-share {
	margin-bottom: 30px;
    border-bottom: 1px solid $gray;
    padding-bottom: 25px;
	
	a {
		display: block;
		width: 100%;
		margin: 0 auto 10px;
		padding: 12px 5px;
		color: white;
		font-size: 1.25em;
		text-align: center;
		text-decoration: none;
	}
	
	a:first-of-type {
		background: $facebook;
		border: 2px solid white;
		
		&:before {
			content: '\f09a';
			font-family: fontAwesome;
			font-size: 1em;
			color: white;
			padding-right: 10px;
		}
		&:hover {
			background: darken($facebook,12%);
		}
		
	}
	
	a:last-of-type {
		background: $twitter;
		 border: 2px solid white;
		
		&:before {
			content: '\f099';
			font-family: fontAwesome;
			font-size: 1em;
			color: white;
			padding-right: 10px;
		}
		&:hover {
			background: darken($twitter,12%);
		}
	}	
	
}

/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
.footer-block {
	width: 100%;
	background: white;
	padding: 50px 15px 30px;
	font-weight: 400;
}
.footer-contact {
	padding: 60px 0;
	text-align: center;
	background: url('img/footer_bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	color: white;

	p, a, h3 {
		color: white;
		text-transform: capitalize;
	}
	
	img {
		margin-bottom: 50px;
	}
	 .button {
	 	width: 260px;
		margin: 20px auto;
	}

	
}


.site-footer {
	font-weight: 400;
	background: $blue;
	border-top: 1px solid lighten($blue,2%);
	padding: 20px 0 40px;
	color: white;
	text-align: center;
	
	em {
		padding-right: 15px;
	}
	
	a {
		color: white;
		text-decoration: none;
		&:hover {
			color: darken(white,20%);
		}
		&:after {
			content: '/';
			color: $darkgreen;
			padding: 0 10px 0 12px
		}
		&:last-of-type {
			&:after {
				content: '';
			}
		}
	}
		
}//.site-footer
.no-padding {padding:0!important;}

/*--------------------------------------------------------------
Animations
--------------------------------------------------------------*/
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

/* durations */
.animate {
  	-webkit-animation-duration: 0.50s;
  	animation-duration: 0.50s;
}
