/* Media Queries ----------------------------------------------------------- */

/* above 1600 (xl screens) */
@media screen and (min-width: 1600px) {}



/* container size & below */
@media screen and (max-width: 1170px) {

	.h-title span {
		line-height: 1.2em;
	}

}//end


/* special considerations */
@media screen and (max-width: 999px) {
	.site-logo img {
		max-width: 95%;
	}
	.main-navigation li a {
		font-size: 1em;
		padding: 5px 10px;
	}
	.news img .thumbnail, .news .thumbnail {
		width: 100px;
		height: 100px;
	}
	.news .default:after {
		font-size: 2em;
		top: 40px;
		left: 30px;
	}
	.help-you .button {
		font-size: 0.9em;
	}
}//end
/* special considerations */
@media screen and (max-width: 899px) {
	.main-navigation li a {
		font-size: 0.9em;
	}

}//end

/* above .menu-toggle */
@media screen and (min-width: 768px) {
	.entry-header {
		background-color: $blue;
	    &:after {
	    	content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin-left: 250px;
			background-color: white;
			-webkit-clip-path: polygon(22% 0, 100% 0, 100% 100%, 16% 100%);
			clip-path: polygon(22% 0, 100% 0, 100% 100%, 16% 100%);
	    }
	}
	body:not(.page-template-page-home) {
		background: linear-gradient(left, $blue 20%, white 20%);
		background: -webkit-linear-gradient(left, $blue 20%, white 20%);
		background: -moz-linear-gradient(left, $blue 20%, white 20%);
		background: -ms-linear-gradient(left, $blue 20%, white 20%);
		background: -o-linear-gradient(left, $blue 20%, white 20%);
	}
	.b-right {
	  	border-right: 1px solid $gray;
	}
	.b-left {
		border-left: 1px solid $gray;
	}
	#secondary {
		margin-top: 90px;
	}
	.entry-content {
		padding-right: 20px;
	}
	.hero {
	    p {
	        width: 560px;
	        margin-bottom: 40px;
	    }
	    .button {
	    	margin-bottom: 60px;
	    	
		    &:last-of-type {
			    margin-left: 15px;
		    }
	    }
    }
    
    .section-title {
		padding: 60px 0 30px;
	}
	
	.quotes {
	     p {
	     	padding: 5px 125px 5px 20px;
	     }
	     hr {
		    margin: 5px 125px 5px 20px;
	     }
	}
	#secondary { padding: 0 20px 0 0;}
}



/* below .menu-toggle */
@media screen and (max-width: 768px) {
h1 { font-size: 32px; line-height: 40px; }
h2 { font-size: 28px; line-height: 36px; }
h3 { font-size: 22px; line-height: 32px; }
h4 { font-size: 18px; line-height: 28px; }
h5 { font-size: 18px; line-height: 24px; }
h6 { font-size: 16px; line-height: 20px; font-weight: 600; text-transform: uppercase; }
.button { display: block; width: 100%; }
	//nav
	.menu-toggle {
		display: block;
	}
	.menu-toggle {
		background: none;
		border: none;
		color: white;
		padding: 30px 20px;
		&:hover, &:focus {
			color: white;
			border: 0;
		}
	}
	.main-navigation ul {
		display: none;
	}
	.site-header {
		top: 20px;
	}
	
	.site-logo img { max-width: 80%; }
	
	.hero {
		&:before {
			background-image: none;
		}
		.img {
			height: 110px;
			background: $blue!important;
		}
		h2 {
			margin-top: 110px;
		}
		
	}
	.entry-header {
		height: 110px;
		min-height: 110px;
	}
	
	.sec1 {
	
		i {
			display: block;
			padding-bottom: 7px;
		}
		.intro {
			max-width: 100%;
			padding: 30px 10px;
			font-size: 1em;
			line-height: 1.75em;
		}
		h3.h-title { 
			font-size: 1.75em;
			background: none;			
		}	
	}
	.squeeze-in > div {padding: 0;}

	.events {
		.pull-right {
			width: 100%;
		}
		.descrip,
		.img,
		.view {
			text-align: center;
		}
		.thumbnail {
			display: block;
			margin: 0 auto;
			&:after {
				position: relative;
				top: 9px;
				left: -2px;
			}
		}
	}
	
	
}


/* .menu-toggle */
@media  screen and (max-width: 480px) { 
	.hero h2 {font-size:1.75em;}
	home-cta, .footer-cta {
		padding: 10px 0 20px;
		&:after {
	    	margin-top: 19px;
		}
	}
	.news img .thumbnail, .news .thumbnail {display: none;}
	.footer-contact {
		  padding: 30px 0;
	}
}//end




