// Colors

//brand colors
$blue: #0c436a;
$darkgreen: #219c75; 
$lightgreen: #73bd4a;
$yellow: #FFED78;
//light to dark
$smoke: #ededed;
$lightgray: #ccc;
$gray: #555;
$black: #333;
//social media
$twitter: #55acee;
$facebook: #405d9a;
$gplus: #dd4b39;

// Typography
$font-heading: 'Oswald', serif, Arial;
$font-body: Verdana, Helvetica , Arial;

// Vendors
@import "vendor/reset";
@import "vendor/bootstrap.grid";
@import "vendor/font-awesome";

// Layout
@import "wp";
@import "layout";
@import "responsive";